#워밍업
#0warming/Debug/
#0warming/.vs/
#0warming/0warming/Debug/

#2주차
#2nd_Week/Debug/
#2nd_Week/.vs/
#2nd_Week/2/Debug/


/**/Debug/
/**/Release/
/**/**/Debug/
/**/**/Release/
/**/**/**/Debug/
/**/**/**/Release/
/**/.vs/
__Test/